name: CI

on:
  push:
  # avoid double run
  # pull_request:
  #   types: [opened, synchronize]
  # # Allow manually triggering the workflow
  # workflow_dispatch:

jobs:
  builds:
    strategy:
      matrix:
        include:
          - os: macos-14
          - os: ubuntu-latest
          - os: windows-latest
      fail-fast: false
      max-parallel: 5
    with:
      os: ${{ matrix.os }}
    secrets:
      QFTEST_LICENSE: ${{ secrets.QFTEST_LICENSE }}
    uses: ./.github/workflows/base.yml # calls the one above