name: loadbalancer

on:
  push:
env:
  QFTEST_LICENSE: ${{ secrets.QFTEST_LICENSE }}
jobs:
  builds:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install JPro requirements
        if: runner.os == 'Linux'
        run: |
          echo "Installing JPro requirements"
          sudo apt-get update
          sudo apt-get install -y xorg libgtk-3-0
          sudo apt-get install -y wget software-properties-common
          
          echo "Installing Chrome requirements"
          sudo apt-get install libgtk2.0-0
      - name: Setup Java 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Create QF-Test License
        shell: bash
        run: |
          echo "Creating QF-Test License"
          echo "${{ secrets.QFTEST_LICENSE }}" > qftest.license
          if [[ "$OSTYPE" == "linux"* ]]; then
            ls -alh qftest.license
          fi
      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/wrapper
            ~/.qftest/cache
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Prepare
        run: |
          ./prepare.sh
      - name: Run QF-Test
        shell: bash
        run: |
          echo "Running QF-Test"
          echo "JAVA_HOME: $JAVA_HOME"
          echo "PATH: $PATH"
          if [[ "$OSTYPE" == "linux"* ]]; then
            echo "Detected Linux OS"
            export DISPLAY=:99.0 && /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16;
          fi
          ./gradlew test -Ploadbalancer=true
      - name: QF-Test Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: 'qftest-report-${{ github.run_id }}-os-${{ inputs.os }}'
          path: |
            qftest
          retention-days: 14